h1= title.toUpperCase()
h2
	em Hello More text with template engines
p Lorem ipsum Proident et veniam in minim consectetur Duis ad enim incididunt amet Duis culpa adipisicing veniam sed aute sint amet labore occaecat proident adipisicing est elit mollit sunt tempor do occaecat aliquip non consequat sunt.

p.
	Indented with Jade Period.
	Lorem ipsum Dolore qui in tempor.
	Lorem ipsum Dolore qui in tempor.
	Lorem ipsum Dolore qui in tempor.
	Lorem ipsum Dolore qui in tempor.
	Lorem ipsum Dolore qui in tempor.

input(type="password")