h1= title.toUpperCase()
h2
	em Express yourself!!! and your code
p Lorem ipsum Proident et veniam in minim consectetur Duis ad enim incididunt amet Duis culpa adipisicing veniam sed aute sint amet labore occaecat proident adipisicing est elit mollit sunt tempor do occaecat aliquip non consequat sunt.

p.
	Indented with Jade Period.
	Lorem ipsum Dolore qui in tempor.
	Lorem ipsum Dolore qui in tempor.
	Lorem ipsum Dolore qui in tempor.
	Lorem ipsum Dolore qui in tempor.
	Lorem ipsum Dolore qui in tempor.

input(type="password")

h2 Names

ul
	for name in names
		li= name

hr
h3 Add Name
form(id="form", method="POST")
	input(name="name")
	button Submit